<% include ../../partials/header %>
<meta charset="utf-8">
<link href="css/main.css" rel="stylesheet" type="text/css">

<div id="content">
  <div class="wrap">
    <section id="share-wrap">
      <a href="#" id="unique-token">링크 공유하기</a>
    </section>

    <section id="enter-wrap">
      <div id="create-wrap">
        <p>화상수업을 시작하시겠습니까 ?</p>
        <button id="btn-start">시작</button>
      </div>
      <div id="wait-wrap"></div>
    </section>

    <section id="video-wrap">
      <div class="buttons">
        <button id="btn-camera">카메라 OFF</button>
        <button id="btn-mic">마이크 OFF</button>
      </div>
    </section>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="js/modules/peer-handler.js"></script>
<script src="js/modules/media-handler.js"></script>
<script src="js/main.js"></script>
